.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #eee; 
  }
  
  .text-danger {
    color: red;
    font-weight: bold;
  }
  .full-width {
    width: 100%;
    margin-bottom: 15px; 
  }
  