<mat-card class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" id="email" name="email" formControlName="email" placeholder="Enter your email" required>
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Please enter a valid email address</mat-error>
    </mat-form-field>
    
    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" id="password" name="password" formControlName="password" placeholder="Enter your password" required>
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
    </mat-form-field>
    
    <button type="submit" mat-raised-button color="primary">Login</button>
    <p class="text-danger">{{ errorMessage }}</p>
  </form>
</mat-card>
