.product-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .product-card {
    width: 100%;
    max-width: 400px; /* Adjust the width to make the card smaller */
    margin: 20px; /* Add some margin for spacing */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  
  .mat-card-header {
    padding-bottom: 0; /* Remove extra padding for a compact look */
  }
  
  .mat-card-title, .mat-card-subtitle {
    font-size: 1.2em; /* Adjust the font size */
  }
  
  .mat-card-image {
    max-height: 200px; /* Limit the image height */
    object-fit: cover; /* Cover the area while maintaining aspect ratio */
  }
  
  .mat-card-content p {
    font-size: 0.9em; /* Adjust the font size for the description */
    color: #666; /* Set a lighter color for the text */
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }


  
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
  }
  