<div *ngIf="product" class="product-details-container">
    <mat-card class="product-card">
      <mat-card-header>
        <mat-card-title style="color: white;">{{ product.name }}</mat-card-title>
        <mat-card-subtitle>\${{ product.price }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="'http://localhost:4000/' + product.image" alt="{{ product.name }}">
      <mat-card-content>
        <p style="color: white;">{{ product.description }}</p>
      </mat-card-content>
      <div class="actions">
        <button mat-button (click)="addToCart(product)" style="color: white;">Add to Cart</button>
        <button mat-button routerLink="/products" style="color: white;">Back</button>

    </div>
    </mat-card>
  </div>
  <div *ngIf="!product" class="loading-container">
    <mat-spinner></mat-spinner>
    <p>Loading product details...</p>
  </div>
