.product-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .product-card {
    width: 100%;
    max-width: 400px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .mat-card-header {
    padding-bottom: 0;
  }

  .mat-card-title, .mat-card-subtitle {
    font-size: 1.2em;
  }

  .mat-card-image {
    max-height: 200px;
    object-fit: cover;
  }

  .mat-card-content p {
    font-size: 0.9em;
    color: #666; 
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }



  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
  }
